.page{
    max-width: 650px;
    padding-top: 47px;
    overflow-x: hidden;
    background: #fff;
    margin: 0 auto;
    .card{
        margin: 0 18px;
        ul{
            overflow: hidden;
            margin: 20px 0 0 0 ;
            padding-top: 6px;
            li{
                float: left;
                width: 50%;
                padding: 3px;
                box-sizing: border-box;
                font-size: 15px;
                a{
                    background-color: #f6f6f6;
                    color: #494949;
                    display: block;
                    text-align: center;
                    line-height: 20px;
                    padding: 12px 0;
                    border-radius: 2px;
                    max-width: 100%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    word-wrap: normal;
                  
                }
            }
        }
        .recommend-feed{
            margin-right: -18px;
            margin-left: -18px;
            margin-top: 2px;
            min-height: 480px;
            color: #494949;
            .data{
                // -webkit-tap-highlight-color: rgba(255,0,0,0);
                .feed{
                    // -webkit-tap-highlight-color: rgba(255,0,0,0);
                    .feed-item{
                        display: block;
                        padding: 25px 18px 25px 0;
                        margin-left: 18px;
                        position: relative;
                        color: #494949;
                        .feed-content{
                            overflow: hidden;
                            margin-bottom: 10px;
                            .photos{
                                display: flex;
                                margin-bottom: 10px;
                                .main{
                                    flex: 3.2;
                                    margin-right: 4px;
                                }
                                .aside{
                                    flex-direction: column;
                                    display: flex;
                                    flex: 1;
                                    .aside-pic{
                                        position: relative;
                                        .more-pic{
                                            align-items: center;
                                            display: flex;
                                            position: absolute;
                                            top: 0;
                                            left: 0;
                                            right: 0;
                                            bottom: 0;
                                            background-color: rgba(0,0,0,0.4);
                                            color: #fff;
                                            text-align: center;
                                            .count{
                                                width: 100%;
                                            }
                                        }
                                    }
                                }
                            }
                            h3{
                                text-align: justify;
                                font-size: 17px;
                                font-weight: 500;
                                line-height: 1.41;
                                color: #494949;
                                margin-bottom: 6px;
                                // width: 65%;
                                // float: left;
                            }
                            p{
                                text-align: justify;
                                color: #aaa;
                                font-size: 12px;
                                line-height: 1.5;
                                display: -webkit-box;
                                overflow: hidden;
                                -webkit-box-orient: vertical;
                                -webkit-line-clamp: 3;
                                word-wrap: break-word;
                                // float: left;
                                // width: 65%;
                            }
                            .cover{
                                width: 25.6%;
                                margin-left: 25px;
                                float: right;
                                // position: absolute;
                                // right: 18px;
                                // top: 25px;
                                img{
                                    width: 100%;
                                    // padding-top: 0%;
                                    // height:100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}